body {
	overflow: hidden;
}

p {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

p.time {
    font-size: 25px;
}

.page {
	min-width: 350px;
}

.page .box {
	width: 300px;
	margin: 15px auto;
	padding: 15px 30px 20px 30px;
	border: solid 2px #acacac;
	border-radius: 10px;
}

body > div {
	margin: 5%;
}

div.panel div.panel-heading > h3.panel-title {
	font-size: 300% !important;
}

div.panel div.panel-body > p {
	font-size: 250%;
}

div.panel div.panel-body > p.time {
	font-size: 320%;
}
